body{
margin: 0 auto;
width: 100%;
max-width:980px;
display: flex;
flex-wrap: nowrap;
justify-content: center;

}

@media(max-width:768px){
body{

}
}
.container{
    margin: 0;
    width: 100%;
    max-width: 980px;
    display: flex;
    justify-content:center;
    flex-wrap: nowrap;
    padding: 0 50px;
    
}
   


h1{
    color: #00b289;
    margin: ;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 900px;
    min-width: 300px;
}

nav li{
 margin: 1em;
}

nav a{
text-decoration: none;
color:#4c4d5f;
font-weight: 700;
padding: .25em 0;
}

nav a:hover
{
 color: blue;
}
.current{
word-wrap: nowrap;
white-space: nowrap;
border: 2px solid #00b289;
padding: 5px 15px;
font-size: 10px;
color: #00b289;
}
.current-page{
    word-wrap: nowrap;
    white-space: nowrap;
    border: 2px solid #00b289;
    padding:5px 18px;
    font-size: 10px;
    background-color: #00b289;
    color: #fff;
}
